[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.6"
django-crispy-forms = "*"
dj-database-url = "*"
gunicorn = "*"
pillow = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"
