{% extends 'base.html' %}
{% block title %}Tribes{% endblock %}

{% block body %}
<div class="tribes-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'tribes:tribe-create' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-lg">
                    <i class="fas fa-plus-circle"></i>
                    <strong>&nbsp;&nbsp;New Tribe</strong>
                </button>
            </form>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
        </div>
        <table class="table table-hover">
            <p>&nbsp;&nbsp;</p>
            <thead>
                <tr>
                  <th scope="col">Tribes</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Members</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if all_tribes %}
                    {% for tribe in all_tribes %}
                    <tr>
                        <th scope="row">
                            <a class="text-dark" href="{% url 'tribes:tribe-details' tribe.id %}">{{ tribe.name }}</a>
                            {% if tribe.image %}
                                <img class="card-img-right flex-auto d-none d-lg-block" src={{ tribe.image.url }} width="50" height="50">
                            {% endif %}
                        </th>
                        <td>Chief</td>
                        <td>{{ tribe.tribesmen.count }}</td>
                        <td>
                            {% if request.user.username == tribe.chieftain.user.username %}
                                <!-- Delete Tribe -->
                                <form action="{% url 'tribes:tribe-delete' tribe.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="tribe_id" value="{{ tribe.id }}" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                <!-- Update Tribe -->
                                <form action="{% url 'tribes:tribe-update' tribe.id %}" method="GET" style="display: inline;">
                                    <button type="submit" class="btn btn-outline-info btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                            {% endif %}
                            Leave
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                <p>You are not in any Tribes at the moment. To start, Click on "New Tribe"</p>
                {% endif %}
            </tbody>
          </table>
    </div>
</div>
            
{% endblock %}