{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome {{ user.first_name }}!</h1>
    <br>
    {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
    <p>Tribes I'm a part of: <b>2</b> </p>
    <p>Places I've been: <b>4</b> </p>
    <p>Member for: <b>1 year 2 days</b> </p>
    <br>
    <p>Welcome to Fancy Feast. Ready to plan an event?</p>
    <p>It's as easy as creating a tribe, adding your friends, then creating a new event.</p>
    <br>
    <h2>Create a new Tribe</h2>
    <p>Creating a new tribe means that you're in charge of all events</p>
    <h2>Upcoming Events</h2>
</div>
{% endblock %}
